<div class="dashboard">
  <button class="new-post">New Post</button>
  <ul class="posts">
    {{#each posts as |post|}}
      <div class="post">
        <header>
          <h2>{{post.title}}</h2>
          <span>
            <h4>{{post.createdAt}}</h4>
            <a href="/home/posts/{{post.id}}/edit">Edit</a>
            <button class="del-post" id={{post.id}}>Delete</button>
          </span>
        </header>
        <div>
          <p>{{post.content}}</p>
          <a href="/home/posts/{{post.id}}">Comments</a>
        </div>
      </div>
    {{/each}}
  </ul>
  <div class="modal">
    <form class="make-post">
      <div class="input-container">
        <h2>Title</h2>
        <input class="post-title" type="text" pattern=".{0,48}" title="Exceeded character limit" required>
      </div>
      <div class="input-container">
        <h2>Content</h2>
        <textarea class="post-content" pattern=".{0,480}" title="Exceeded character limit" required></textarea> 
      </div>
      <div class="button-container">
        <button class="submit-post" type="submit">Submit</button>
        <button class="discard-post" type="button">Discard</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/dashboard.js"></script>
