<div class="homepage">
  <div class="posts">
    {{#each posts as |post|}}
    <a href="home/posts/{{post.id}}" class="post">
      <header>
        <h2>{{post.title}}</h2>
        <h4>Posted by {{post.username}} on {{post.createdAt}}</h4>
      </header>
      <div class="post-content">
        <p>{{post.content}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>